<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.idepro.appbackendnetbank.repository.CdCreditoAsignadoRepository">

    <resultMap type="CdCreditoAsignado" id="result">
        <result property="idCreditoAsignado" column="idCreditoAsignado"/>
        <result property="idCredito" column="prestamo"/>
        <result property="idGestor" column="oficial_responsable"/>
    </resultMap>

    <select id="listAll" resultType="CdCreditoAsignado" resultMap="result">
        select
        prmprnpre||prmprrseg idCreditoAsignado
        ,prmprnpre prestamo
        ,prmprrseg oficial_responsable
        from prmpr where prmprstat not in (0,1,7,9)
        and nvl((select gbpmtfdia from gbpmt)-prmprfinc,0)>0
        order by prmprrseg, prmprnpre desc;
    </select>

    <select id="findByIdCreditoAsignado" resultType="CdCreditoAsignado" resultMap="result">
        select
        prmprnpre||prmprrseg idCreditoAsignado
        ,prmprnpre prestamo
        ,prmprrseg oficial_responsable
        from prmpr where prmprstat not in (0,1,7,9)
        and nvl((select gbpmtfdia from gbpmt)-prmprfinc,0)>0 where prmprnpre  = #{param1}
        order by prmprrseg, prmprnpre desc;
    </select>

</mapper>