<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.idepro.appbackendnetbank.repository.CdFiadorAsignadoRepository">

    <resultMap type="CdFiadorAsignado" id="result">
        <result property="idFiador" column="agenda"/>
        <result property="idCredito" column="prestamo"/>
        <result property="tipoFiador" column="tipo_deudor"/>
    </resultMap>

    <select id="listAll" resultType="CdFiadorAsignado" resultMap="result">
          select
        prdeucage agenda
        ,prdeunpre prestamo
        ,(case when prdeutres = 2 then 'GARANTE' when prdeutres = 1 then 'CODEUDOR' end)  tipo_deudor
        from prdeu,prmpr
        where prdeunpre=prmprnpre
        and prmprstat not in (0,1,7,9) and nvl((select gbpmtfdia from gbpmt)-prmprfinc,0)>0
        and prdeucage &lt;&gt; prmprcage
    </select>

</mapper>