<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.idepro.appbackendnetbank.repository.CdHistorialPagoRepository">

    <resultMap type="CdHistorialPago" id="result">
        <result property="idCredito" column="prtdtnpre"/>
        <result property="fechaPago" column="prtdtftra"/>
        <result property="monto" column="monto_pago_capital_bs"/>
    </resultMap>

    <select id="listAll" resultType="CdHistorialPago" resultMap="result">
        select
        prtdtnpre
        ,prtdtftra
        ,round(sum(case when prmprcmon=1 then prtdtimpp else prtdtimpp*
        (select gbhtctcof from gbhtc where gbhtcfech=(select max(gbhtcfech) from gbhtc)) end),2)*-1  monto_pago_capital_bs
        from prtdt,prhtr,prmpr where
        prhtrntra=prtdtntra and
        prhtrcvia &lt;&gt; 60 and
        prtdtttrn=2   and
        prtdtccon in (1,67,68,69,70,75,76,80)   and
        prtdtpref in (20,21)  and
        prtdtmrcb=0   and
        prtdtnpre=prmprnpre and
        prmprstat not in (0,1,7,9) and
        nvl((select gbpmtfdia from gbpmt)-prmprfinc,0)>0
        group by prtdtnpre,prtdtftra
    </select>

    <select id="listByFecha" resultType="CdHistorialPago" resultMap="result">
        select
        prtdtnpre
        ,prtdtftra
        ,round(sum(case when prmprcmon=1 then prtdtimpp else prtdtimpp*
        (select gbhtctcof from gbhtc where gbhtcfech=(select max(gbhtcfech) from gbhtc)) end),2)*-1  monto_pago_capital_bs
        from prtdt,prhtr,prmpr where
        prhtrntra=prtdtntra and
        prhtrcvia &lt;&gt; 60 and
        prtdtttrn=2   and
        prtdtccon in (1,67,68,69,70,75,76,80)   and
        prtdtpref in (20,21)  and
        prtdtmrcb=0   and
        prtdtnpre=prmprnpre and
        prmprstat not in (0,1,7,9) and
        nvl((select gbpmtfdia from gbpmt)-prmprfinc,0)>0
         and prtdtfpro = to_date(#{param1},"%d%m%Y") group by prtdtnpre,prtdtftra;
    </select>

</mapper>