<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.idepro.appbackendnetbank.repository.TransaccionRepository">

    <resultMap type="Transaccion" id="result">
        <result property="idTransaccion" column="prtdtntra"/>
        <result property="fecha" column="prtdtftra"/>
        <result property="concepto" column="prtdtccon"/>
        <result property="descripcion" column="prtdtdesc"/>
        <result property="importe" column="prtdtimpp"/>
    </resultMap>

    <select id="listTransaccionByIdPrestamo" resultType="Transaccion" resultMap="result">
        select prtdtntra, prtdtftra, prtdtccon, trim(prtdtdesc) as prtdtdesc, prtdtimpp from prtdt where prtdtnpre = #{param1};
    </select>

    <select id="listTransaccionCargosByIdPrestamo" resultType="Transaccion" resultMap="result">
        select prtdtntra, prtdtftra, prtdtccon, trim(prtdtdesc) as prtdtdesc, abs(prtdtimpp) as prtdtimpp from prtdt where prtdtccon in (103,104,105) and  prtdtnpre = #{param1};
    </select>

</mapper>